.error-message {
  color: red;
  font-size: 12px;
  padding-left: 5px;
}
.label-checkbox {
  padding-left: 15px;
  text-indent: -15px;
  padding-top: 10px;
}
.input-checkbox {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
  vertical-align: middle;
  position: relative;
  top: -1px;
  *overflow: hidden;
}
.permenent-address {
  color: darkcyan;
}
.current-address {
  color: darkorchid;
}

.education-button {
  margin: 0px;
  &:last-child {
    margin-left: 10px;
  }
}

.drop-zone {
  height: 40px;
}

.education_card {
  background-color: blanchedalmond;
}

.delete-icon {
  text-align: right;
}

.btn-icon {
  margin: 10px;
}
.permission_check_box {
  .check_box {
    margin-right: 10px;
  }
  .permission_left {
    flex: 0 0 28%;
    max-width: 100%;
  }
}
.permission_flex_box {
  flex: 0 0 30%;
  max-width: 100%;
}
.permission_right {
  margin-bottom: 20px;
  flex: 0 0 30%;
  max-width: 100%;
  div {
    flex: 0 0 25%;
    max-width: 100%;
    justify-content: flex-end;
  }
  input {
    margin-left: 10px;
  }
}
.select_checkbox {
  flex: 0 0 30%;
  max-width: 100%;
  margin-bottom: 10px;
  div {
    flex: 0 0 25%;
    max-width: 100%;
    justify-content: flex-end;
    text-align: right;
  }
}
.mr_btm_10 {
  margin-bottom: 10px;
}
@media screen and (max-width: 991px) {
  .permission_flex_box {
    flex: 0 0 50%;
  }
}
@media screen and (max-width: 575px) {
  .permission_flex_box {
    flex: 0 0 60%;
  }
}
